body {
    font-family: 'Roboto', sans-serif;
  }

  header, footer {
    background-color: #ffffff;
  }
  

.keyContent{
    background-color:#000000;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100;

}
.logoContent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
  }

.logoContent h1{
    font-weight: 900;
    color:white;
  
}

.logoContent p{
    color:white;
}

form {
    padding: 20px;
  }

  .form-group label, .form-group input {
    font-weight: 300;
    color:rgb(0, 255, 76)
  }
  button[type="submit"] {
    background-color: #007bff;
    border-radius: 5px;
  }

.navbar-brand{

}

.navbar-brand img{
    height: 60px;

  }